<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @vendor.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews"%></em>

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Vendor name:</strong></td>
                <td><%= @vendor.vendor_name %></td>
              </tr>
              <tr>
                <td><strong>Vendor description:</strong></td>
                <td><%= @vendor.vendor_description %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Write a Review", new_vendor_review_path(@vendor), class: "btn btn-primary btn-lg" %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title">Reviews</h1>
    <!--      <%= @vendor.vendor_name %></h1>
          <p><%= @vendor.vendor_description %></p>
-->
          <% if @reviews.blank? %>
            <h3>No reviews just yet, would you like to add the first!</h3>
            <%= link_to "Write a Review", new_vendor_review_path(@vendor), class: "btn btn-danger" %>
          <% else %>
            <% @reviews.each do |review| %>
              <div class="reviews">
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= review.comment%></p>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<!--

<p>
  <strong>Vendor rating:</strong>
  <%= @vendor.vendor_rating %>
</p>
-->
<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
          return $(this).attr('data-score');
    }
  });
</script>
