<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Review pov:</strong>
  <%= @review.review_pov %>
</p>

<p>
  <strong>Integration type:</strong>
  <%= @review.integration_type %>
</p>

<p>
  <strong>Integration name:</strong>
  <%= @review.integration_name %>
</p>

<p>
  <strong>Submitted By:</strong>
  <%= @review.user.email %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
